/* ChatApp.css */

.chat-app {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.message-list {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
}

.message {
  margin-bottom: 10px; /* 간격 조정 */
  padding: 10px;
  border-radius: 10px; /* 둥근 모서리 */
  background-color: #f0f0f0;
  width: 50%;
  position: relative;
}

.user {
  background-color: #4caf50;
  color: #fff;
  align-self: flex-end;
  width: 50%;
  position: relative;
}

.message::before {
  content: ""; /* 가상 요소 생성 */
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px; /* 삼각형 크기 조정 */
}

.message.user::before {
  border-color: transparent transparent transparent #4caf50; /* 사용자 메시지의 삼각형 스타일 설정 */
  right: -20px; /* 오른쪽으로 이동해서 삼각형 위치 조정 */
  top: 50%;
  transform: translateY(-50%);
}

.message.bot::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #f0f0f0 transparent transparent; /* 삼각형을 왼쪽으로 반전 */
  left: -20px; /* 삼각형의 위치를 왼쪽으로 조정 */
  top: 50%;
  transform: translateY(-50%);
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.input-box input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  outline: none;
}

.input-box button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #45a049;
}

.user-image {
  width: 50px; /* 원하는 너비로 설정하세요 */
  height: 50px; /* 원하는 높이로 설정하세요 */
}

.bot-image {
  width: 50px; /* 원하는 너비로 설정하세요 */
  height: 50px; /* 원하는 높이로 설정하세요 */
}
